@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --gray1: 0 0% 99%;
  --gray2: 0 0% 97.3%;
  --gray3: 0 0% 95.1%;
  --gray4: 0 0% 93%;
  --gray5: 0 0% 90.9%;
  --gray6: 0 0% 88.7%;
  --gray7: 0 0% 85.8%;
  --gray8: 0 0% 78%;
  --gray9: 0 0% 56.1%;
  --gray10: 0 0% 52.3%;
  --gray11: 0 0% 43.5%;
  --gray12: 0 0% 9%;
}

body {
  color: hsl(var(--gray12));
  background-color: hsl(var(--gray1));
}
